# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
*.exe
*.obj
*.pdb
*.idb
*.ilk
*.log
*.cache

# Debug/Release folders
Debug/
Release/
x64/
x86/

# CMake (nếu dùng)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# SQL Server DB files (nếu có)
*.mdf
*.ldf
